<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Matrimonio Andrea e Micol{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet'>
    <!-- Additional head blocks for customization -->
    {% block head_styles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body>

    <nav class="top-nav">
        <ul id="navbar-list">
          <li><a href="#home" class="selected">Home</a></li>
          <li id="navbar-timeline"><a href="#timeline">La giornata</a></li>
          <li><a href="#wedding_list">Lista nozze</a></li>
          <li><a href="#album">Album</a></li>
          <!-- Add more navigation items here -->
        </ul>
      </nav>
      <div class="mobile-menu-button" onclick="toggleMobileMenu()">
        <img src="/static/images/menu.svg" alt="Mobile Menu">
    </div>
    
    <!-- The mobile menu with items -->
    <div class="mobile-menu">
        <ul>
            <li><a href="#" onclick="toggleMobileMenu()">Home</a></li>
            <li><a href="#timeline" onclick="toggleMobileMenu()">La giornata</a></li>
            <li><a href="#wedding_list" onclick="toggleMobileMenu()">Lista Nozze</a></li>
            <li><a href="#album" onclick="toggleMobileMenu()">Album</a></li>
        </ul>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
      function toggleMobileMenu() {
          const mobileMenu = document.querySelector('.mobile-menu');
          mobileMenu.style.display = (mobileMenu.style.display === 'block') ? 'none' : 'block';
      }
    </script>

    <!-- Add your common JavaScript scripts or links here -->
    <footer style="margin-top: 40px;">
        <div>
            <h1>Micol e Andrea</h1>
            <p>29 giugno 2024</p>
          </div>
    </footer>

</body>
</html>
